/*
LinkScan
Main Stylesheet

by Mike Green <mike.is.green@gmail.com>
http://github.com/mikedamage/linkscan
*/

@import "compass";
@import "partials/base";

html {
  font-size: 16px;
}

body {
  font-size: 1em;
}
